.autocomplete {
    position: relative;
}

#suggestions {
    position: absolute;
    background-color: #f9f9f9;
    border: 1px solid #e2e2cf;
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

#suggestions li {
    padding: 8px 12px;
    cursor: pointer;
}

#suggestions li:hover {
    background-color: #1caace;
}
